<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css"  href="/css/style.css">
        
    </head>
    <body>
        <div>
        
        {{>header}}
       {{!-- <h3>{{result}}</h3>
       <h2>{{err}}</h2> --}}
        <form>
            <input id="search" placeholder="Location">
            <button>Submit</button>
        </form>
        <h4 id="error"></h4>
        <h4 id = "result"></h4>
       {{>footer}} 
        
        </div>
    <script src = "/js/script.js"></script>
    </body>
</html>